body, html {
    margin-top: 10px;
}
#sel {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#reg{
    display: none;
    background: green;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -200px;
}

#reg_t, #reg_d {
    font-size: 20px;
}

.bottom{
    border-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.l_2{
    padding: 0.5rem 1.5rem;
    background: yellow;
    width: 150px;
    border-width: medium;
    border-color: red;
    border-style: solid;
    font-size: 23px;

}

.l_1{
    padding: 0.5rem 1.5rem;
    border-radius: 20px 0px;
    width: 300px;
    border-width: medium;
    border-color: red;
    border-style: solid;
    cursor: pointer;
    font-size: 30px;
}

div{
    text-align: center;
}

#but{
    margin-top: 30px;
    margin-left: 160px;
}

.w{
    cursor: pointer;
    text-decoration: underline;
    color: red;
    font-size: 20px;
}

#reg_title{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    background: yellowgreen;
}

.reg_l {
    font-size: 20px;
}

td{
    font-size: 18px;
    border: 3px solid orange;
}
table{
    width: 200px;
    margin-top: 10px;
}

hr {
    border: 5px solid gray;
    margin-bottom: 20px;
}