#reg{
    display: none;
    background: green;
    width: 200px;
    height: 190px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -150px;
}

#bottom{
    border-style: none;
}

.l_2{
    margin: 3px 3px;
    padding: 0.5rem 1.5rem;
    background: yellow;
    display: inline-block;
    width: 80px;
    border-width: medium;
    border-color: red;
    border-style: solid; 
}

.l_1{
    margin: 3px 3px;
    padding: 0.5rem 1.5rem;
    border-radius: 20px 0px;
    display: inline-block;
    width: 120px;
    border-width: medium;
    border-color: red;
    border-style: solid;
    cursor: pointer;
}

table{
    display: inline-block;
}

div{
    text-align: center;
}

form{
    margin: 15px;
    text-align: left;
}

#but{
    text-align: right;
    margin-top: 15px;
}

.w{
    cursor: pointer;
    text-decoration: underline;
    color: red;
}

#reg_title{
    display: block;
    margin-top: 10px;
}

td{
    display: table-row;
    font-size: 12px;
    background-color: black;
    align-items: center;
}
table{
    width: 120px;
    display: inline-block;
    margin: 10px;
    border : 0px;
}

tr{
    position: absolute;
    margin-left: 0px;
}